<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE widget>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.bcbsmn.aardvark" version="0.0.1" versionCode="1">
    <name>aardvark</name>
    <description xml:lang="en"><![CDATA[
An application that does nothing, but in a complicated way
]]>
    </description>
    <author href="http://www.bluecrossmn.com">
        BlueCross BlueShield of Minnesota
    </author>
    <license>
        Copyright 2016, BlueCross BlueShield of Minnesota
    </license>
    
    <plugin name="org.apache.cordova.statusbar" spec="0.1.4" source="pgb" />
    <plugin name="org.apache.cordova.splashscreen" spec="0.3.4" source="pgb" />
    <plugin name="org.apache.cordova.network-information" spec="0.2.12" source="pgb" />
    <plugin name="com.indigoway.cordova.whitelist.whitelistplugin" spec="1.1.1" source="pgb" />
    
    <allow-navigation href="http://ec2-52-35-25-34.us-west-2.compute.amazonaws.com/*" />
    <allow-intent href="http://ec2-52-35-25-34.us-west-2.compute.amazonaws.com/*" />

    <platform name="android">
	    <icon src="res/android/icon-36-ldpi.png"  width="36" height="36" qualifier="ldpi"/>
	    <icon src="res/android/icon-48-mdpi.png"  width="48" height="48" qualifier="mdpi"/>
	    <icon src="res/android/icon-72-hdpi.png"  width="72" height="72" qualifier="hdpi"/>
	    <icon src="res/android/icon-96-xhdpi.png" width="96" height="96" qualifier="xhdpi"/>
	    <icon src="res/android/icon-96-xxhdpi.png" width="96" height="96" qualifier="xxhdpi"/>
    </platform>

    <!-- PhoneGap version to use --> 
    <preference name="phonegap-version" value="cli-6.0.0" />

    <!-- Allow landscape and portrait orientations -->
    <preference name="Orientation" value="default" />
    
    <!-- Don't hide the O/S's status bar -->
    <preference name="fullscreen" value="false" />

    <!-- Android: Keep running in the background -->
    <preference name="KeepRunning" value="true"/>
    
    <!-- Android: Web resource load timeout, ms -->
    <preference name="LoadUrlTimeoutValue" value="30000"/>
    
    <!-- Android: The amount of time the splash screen image displays (if not hidden by app) -->
    <preference name="SplashScreenDelay" value="3000"/>
    
    <!-- Android: Minimum (4.0) and target (4.4) API versions -->
    <preference name="android-minSdkVersion" value="14"/>
    <preference name="android-targetSdkVersion" value="19"/>
</widget>